services:
  backend:
    build: ./api
    container_name: assets-backend
    ports:
      - "8080:8080"
    networks:
      - app-network
    restart: always

  frontend:
    build: ./frontend  
    container_name: assets-frontend
    ports:
      - "3000:80"
    depends_on:
      - backend
    networks:
      - app-network
    restart: always

networks:
  app-network:
    driver: bridge